git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/peft.git
transformers==4.57.1
huggingface_hub
sentencepiece 
torchvision
supervision
kernels
spaces
hf_xet
torch
numpy
av